<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->


<body class="index-background"></body>

<div class="homepage-header-container">
<div>
<div class="multipleflex">
<h1 class="homepage-header">Kleo's BaKlava Caf‌&#233</h1>
</div>
<div class="multipleflex">
<h2 class="homepage-header-description">Greek American Cafe</h2>
</div>
<div class="multipleflex">
<h3 class="homepage-header-description">7 S York Rd, Hatboro, PA 19040</h3>
</div>
</div>
</div>
